# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/

# Environment variables
.env
.env.*

# Django
db.sqlite3
db.sqlite3-journal

# Django migrations cache
*.pyc

# Static files
staticfiles/

# Media files
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Backup / database exports
backup.json
*.sqlite3

# Logs
*.log